################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatternsSln/CopilotIndices/17.13.433.20974
/.vs/DesignPatternsSln/FileContentIndex/9e6b6de7-7654-4d2c-9e92-b910a744b758.vsidx
/.vs/DesignPatternsSln/FileContentIndex/1426d2fe-e704-487e-a0c8-ab7446afb9f4.vsidx
